<h1> <%= @title %> </h1>
  <a href="/<%= @book['title'] %>/new">add a new topic</a>
  <ul>
  <% if @book["topics"] == [] %>
    <%= "There are no topics yet!" %>
  <% else %>
      <% @book["topics"].each do |topic| %>
      <li><a href="/<%= @book['title'] %>/<%= topic["topic_title"] %>">
      "<%= topic["topic_title"] %>" started by <%= topic["messages"]["author"] %>
      </a></li>
      <% end %>
  <% end %>
  </ul>

